<!DOCTYPE html>
<html>
<head>
    <title>Join a game | games.adikus.me</title>
    <meta charset="UTF-8">
<!--    <link rel="icon" href="/favicon.ico">-->
    <meta name="viewport" content="width=device-width" initial-scale="2.0">
    {{#if manifest}}
        {{#each manifest.stylesheets}}
            <link rel="stylesheet" href="/{{this}}">
        {{/each}}
    {{else}}
        <script type="module" src="/@vite/client"></script>
    {{/if}}
    <script defer data-domain="games.adikus.me" src="https://plausible.io/js/script.js"></script>
    <script>
        window.baseUrl = '{{baseUrl}}';
        window.token = '{{token}}';
    </script>
</head>
<body class="bg-indigo-950 text-blue-50 h-full">
    <div class="min-h-screen w-full absolute top-0" id="app-join"></div>

    {{#if manifest}}
        {{#each manifest.scripts}}
            <link rel="stylesheet" href="/{{this}}">
            <script src="/{{this}}"></script>
        {{/each}}
    {{else}}
        <script type="module" src="/frontend/main.js"></script>
    {{/if}}
</body>
</html>
